:root {
  --red: hsl(4, 100%, 67%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color: var(--blue-700);
}

figure {
  margin: 0;
}
figure img {
  width: 100%;
}

.container {
  max-height: 100vh;
  background-color: var(--blue-700);
}

.sign-up-card,
.success-page {
  display: flex;
  flex-flow: column;
  background-color: var(--white);
}

section {
  padding: 15px;
}
section h1 {
  color: var(--blue-800);
  font-weight: 700;
  font-size: 55px;
  margin: 25px 0;
}
section > p,
section li {
  color: var(--blue-700);
}

section ul {
  list-style: none;
  padding: 10px 0;
  padding-left: 40px;
}

section li {
  padding: 5px 0;
  position: relative;
}

section li:before {
  content: '';
  position: absolute;
  background-image: url(assets/images/icon-success.svg);
  width: 20px;
  height: 20px;
  background-size: cover;
  left: -40px;
}

form {
  padding: 10px 0;
  position: relative;
}
form input {
  display: block;
  padding: 20px;
  margin: 10px auto;
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 7px;
  width: 100%;
}
form input:hover {
  color: black;
  border: 1px solid var(--blue-700);
  outline: none;
}
form label {
  color: var(--blue-800);
  font-weight: 700;
}

form input[type='submit'],
button {
  color: var(--white);
  border: none;
  font-weight: 700;
  background-color: var(--blue-800);
  border-radius: 10px;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
  margin: 20px 0;
}

form input[type='submit']:hover {
  background: #ff5377;
  background: linear-gradient(
    90deg,
    rgba(255, 83, 119, 1) 0%,
    rgba(255, 94, 92, 1) 50%,
    rgba(255, 104, 62, 1) 100%
  );
  transform: translateY(-1px);
}

span.error-msg {
  display: none;
}

form.error-state input[type='email'] {
  background-color: #ffe8e6;
  position: relative;
  color: var(--red);
  border-color: var(--red);
}
form.error-state .error-msg {
  display: inline;
  color: var(--red);
  font-weight: 700;
  position: absolute;
  top: 10px;
  right: 0;
}

@media (min-width: 768px) {
  .container {
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-up-card {
    width: 450px;
    border-radius: 20px;
    gap: 20px;
  }
  section {
    padding: 15px 25px;
  }
}

@media (min-width: 1024px) {
  .sign-up-card {
    width:fit-content;
    flex-flow: row-reverse;
    padding: 0px;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
  }
  figure {
    padding: 0;
    height: 100%;
    width: 50%;
  }
  figure img {
    object-fit: cover;
  }
  section {
    padding: 25px;
  }
}
